@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #243e63;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.purple {
    color: #6415ff;
}

a {
    text-decoration: none;
}

button:hover {
    transition: background 300ms ease;
    background-color: #480ebd;
    cursor: pointer;
}

img {
    width: 100%;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.sections__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
}

/* 

NAV  

*/

.nav {
    display: flex;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    padding-left: 8px;
}

.nav__links {
    display: flex;
}

.nav__link {
    color: #243e63;
    font-size: 14px;
    margin: 0 24px;
    font-weight: 600;
    letter-spacing: 0.35px;
    position: relative;
}

.nav__link::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -6px;
    height: 2px;
    background-color: #6415ff;
    transition: all 300ms ease;
    opacity: 0;
}

.nav__link:hover::after {
    opacity: 1;
}

.nav__link--primary::after {
    content: "";
    width: 0;
    height: 0;
}

.login {
    margin-left: 48px;
}

.nav__link--primary {
    padding: 10px 32px;
    background-color: #6415ff;
    color: white;
    border-radius: 50px;
    margin-left: 0;
    transition: background 300ms ease;
}

.nav__link--primary:hover {
    background-color: #480ebd;
}


/* ADD HAMBURGER */

/* 

HEADER

*/

.header__container {
    padding: 96px 0;
    margin: 0 18px;
}

.header__row {
    display: flex;
    align-items: center;
}

.header__description {
    width: 40%;
}

.header__title {
    font-size: 48px;
    color: black;
    line-height: 1.25;
}

.header__para {
    margin: 32px 0;
}

.header__img--wrapper {
    width: calc(100% - 40%);
    margin-left: 36px;
}

.header__img {
    width: 100%;
    max-width: 768px;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
}

.header__customers {
    opacity: .5;
    margin-top: 16px;
    padding-right: 128px;
}

/* 

FEATURES 

*/

.row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

#features .section__para {
    text-align: center;
    max-width: 576px;
    margin-bottom: 32px;
}

/* REUSABLE Across sections > */

.container {
    padding: 80px 0;
}


.section__para {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
    color: #7c8ba1;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

/* REUSABLE Across sections < */

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(100% / 3);
    margin-bottom: 64px;
}

.feature__row {
    display: flex;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
    height: 65px;
    margin-right: 16px;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

.feature__para {
    font-size: 16px;
    color: #7c8ba1;
    font-weight: 500;
    line-height: 2;
    max-width: 200px;
}