@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #243e63;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.purple {
    color: #6415ff;
}

/* 

NAV  

*/
.nav {
    display: flex;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    padding-left: 8px;
}

.nav__links {
    display: flex;
}

.nav__link {
    color: #243e63;
    font-size: 14px;
    text-decoration: none;
    margin: 0 24px;
    font-weight: 600;
    letter-spacing: .35;
    position: relative;
}

/* placeholder underline effect*/
.nav__link:hover {
    text-decoration: underline;
}

.login {
    margin-left: 48px;
}

.nav__link--primary {
    padding: 10px 32px;
    background-color: #6415ff;
    color: white;
    border-radius: 50px;
    margin-left: 0;
}

img {
    width: 100%;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

button {
    cursor: pointer;
}

/* ADD HAMBURGER */

/* 

HEADER

*/

.header__container {
    padding: 96px 0;
    margin: 0 18px;
}

.header__row {
    display: flex;
    align-items: center;
}

.header__description {
    width: 40%;
}

.header__title {
    font-size: 48px;
    color: black;
    line-height: 1.25;
}

.header__para {
    margin: 32px 0;
}

.header__img--wrapper {
    width: calc(100% - 40%);
}

.header__img {
    width: 100%;
    max-width: 768px;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}