@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #243e63;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}

ul {
    list-style: none;
}

.purple {
    color: #6415ff;
}

a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}



img {
    width: 100%;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.sections__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
}

/* 

NAV  

*/

.nav {
    display: flex;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    padding-left: 8px;
}

.nav__links {
    display: flex;
}

.nav__link {
    color: #243e63;
    font-size: 14px;
    margin: 0 24px;
    font-weight: 600;
    letter-spacing: 0.35px;
    position: relative;
}

.nav__link::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -6px;
    height: 2px;
    background-color: #6415ff;
    transition: all 300ms ease;
    opacity: 0;
}

.nav__link:hover::after {
    opacity: 1;
}

.nav__link--primary::after {
    content: "";
    width: 0;
    height: 0;
}

.login {
    margin-left: 48px;
}

.nav__link--primary {
    padding: 10px 32px;
    background-color: #6415ff;
    color: white;
    border-radius: 50px;
    margin-left: 0;
    transition: background 300ms ease;
}

.nav__link--primary:hover {
    background-color: #480ebd;
}


/* ADD HAMBURGER */


/* 

HEADER

*/

.header__container {
    padding: 96px 0;
    margin: 0 18px;
}

.header__row {
    display: flex;
    align-items: center;
}

.header__description {
    width: 40%;
}

.header__title {
    font-size: 48px;
    color: black;
    line-height: 1.25;
}

.header__para {
    margin: 32px 0;
}

.header__img--wrapper {
    width: calc(100% - 40%);
    margin-left: 36px;
}

.header__img {
    width: 100%;
    max-width: 768px;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__email--btn:hover {
    transition: background 300ms ease;
    background-color: #480ebd;
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
}

.header__customers {
    opacity: .5;
    margin-top: 16px;
    padding-right: 128px;
}

/* 

FEATURES 

*/

.row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

#features .section__para {
    text-align: center;
    max-width: 576px;
    margin-bottom: 32px;
}

/* REUSABLE Across sections > */

.container {
    padding: 80px 0;
}


.section__para {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
    color: #7c8ba1;
    margin-top: 32px;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.btn {
    background-color: #6415ff;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px 32px;
    border-radius: 500px;
    margin: 32px 0;
    transition: background 300ms ease;
}

.btn:hover {
    transition: background 300ms ease;
    background-color: #480ebd;
}



/* REUSABLE Across sections < */

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(100% / 3);
    margin-bottom: 64px;
}

.feature__row {
    display: flex;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
    height: 65px;
    margin-right: 16px;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

.feature__para {
    font-size: 16px;
    color: #7c8ba1;
    font-weight: 500;
    line-height: 2;
    max-width: 200px;
}

/* 

QUALITY 

*/

.quality__img {
    z-index: 1;
    position: relative;

}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;
}

.section__description {
    width: 50%;
    margin-right: 56px;
}

.quality__img--wrapper {
    width: 50%;
    position: relative;
    display: flex;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 4px;
}

/* 

STEPS

*/

.steps__img--wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    margin-right: 56px;
    position: relative;
}

.steps__description {
    width: 50%;
}

.step {
    display: flex;
    margin-top: 32px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    margin-right: 32px;
}

.step__number--one {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    margin-right: 40px;
}

.step__description {
    display: flex;
    flex-direction: column;
}

.step__title {
    color: #243e63;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.step__para {
    font-size: 14px;
    color: #718096;
    font-weight: 500;
    line-height: 2;
    max-width: 300px;
}

.steps__grid {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 10rem;
    opacity: 0.8;
    z-index: -10;
    color: rgb(100, 21, 255);
}

/*

VALUES

*/

.values__description, .values__img--wrapper {
    width: 50%;
}

.value__img--wrapper {
    border: 2px solid #e7e5ed;
    padding: 8px;
    border-radius: 50px;
}

.value {
    max-width: 260px;
}
.values__description {
    padding: 32px 64px 32px 0;
}

.value__title {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.value__name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 16px;
}

.values__list {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;

}

.value__para {
    line-height: 1.8;
    color: #718096;
    margin-top: 16px;
}

.value__img--afford {
    font-size: 24px;
    color: rgba(54, 199, 54, 0.805)
}

.value__img--profes {
    font-size: 24px;
    color: rgb(232, 113, 132);
}

.values__btn {
    margin: 16px 0;
}

/*

PRICING

*/

#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricing .section__para {
    margin: 0;
    max-width: 576px;
    text-align: center;
}

.plans {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.plan {
    margin: 4rem 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 24rem;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    color: rgb(24, 30, 41);
}

.plan__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    line-height: 1.625;
}

.plan__name {
    font-size: 20px;
}

.plan__name, .plan__price, .plan__duration, .plan__target {
    font-weight: 700;
    letter-spacing: 1.5px;
}

.plan__price {
    font-size: 48px;
}

.plan__duration {
    color: #9ba6b7
}

.plan__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    border-top: 2px solid rgb(226, 225, 225);
    border-bottom: 2px solid rgb(226, 225, 225);
    width: 100%;
}

.plan__target {
    font-size: 20px;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}


.plan__bottom {
    padding: 2rem 0;
}

.plan__btn {
    padding: 16px 48px;
    border-radius: 30px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 300ms ease;;
}

.plan__btn:hover {
    transform: translate(1px, -1px);
    box-shadow: -4px 8px 12px rgba(0, 0, 0, 0.3);
}

.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan:nth-child(1) .plan__stripe, .plan:nth-child(1) .plan__btn {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan:nth-child(3) .plan__stripe, .plan:nth-child(3) .plan__btn {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);;
}

.plan:nth-child(2) .plan__middle {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.plan:nth-child(2) .plan__name, .plan:nth-child(2) .plan__price, .plan:nth-child(2) .plan__duration, .plan:nth-child(2) .plan__target, .plan:nth-child(2) .plan__feature {
    color: #f7fafc;
}

.plans__blob {
    z-index: -10;
    position: absolute;
    left: 40px;
    bottom: 50px;
    transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
    height: 256px;
    width: 256px;
    opacity: 0.25;
}

.plan:nth-child(1) {
    background-color: white;
}

/*

TESTIMONIALS

*/

.testimonials__img {
    width: 50%;
}

.testimonials__description {
    margin-left: 64px;
}

.testimonial__rating {
    margin-top: 40px;
}

.fa-star {
    color: orange;
}

.testimonial__title {
    margin-top: 16px;
}

.testimonial__para {
    margin: 16px 0 32px 0;
    font-weight: 500;
    line-height: 1.625;
    font-size: 16px;
    color: rgb(74 85 104);
}

.testimonial__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial__details {
    margin-left: 24px;
}

.testimonial__name {
    color: #4A5568;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.625;
}

.testimonial__role {
    color: #7c8ba1;
    font-weight: 500;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
}

.testimonial__button {
    margin: 8px;
    padding: 16px;
    border-radius: 50%;
    border: none;
}

.divider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-right-width: 1px;
    width: 0.5px;
    background-color: #edf2f7;
    height: 20px;
}

/* 

START

*/

#start .row {
    position: relative;
    overflow: hidden;
}

.start__row {
    padding: 96px 0;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.start__title {
    color: #f7fafc;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    width: 50%;
    z-index: 2;
}

.start__btns {
    display: flex;
    justify-content: flex-end;
}

.start__btn--1, .start__btn--2 {
    margin-right: 24px;
    padding: 20px 40px;
    border-radius: 500px;
    font-size: 16px;
    font-weight: 700;
    color: #f7fafc;
    cursor: pointer;
}

.start__btn--1 {
    background-color: #f56565;
    border: none;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
    transition: background 300ms ease;
}

.start__btn--1:hover {
    background-color: #e04d4d;
}

.start__btn--2 {
    background-color: rgb(100, 21, 255);
    border: 0.3px solid #f7fafc;
    transition: all 300ms ease;
}

.start__btn--2:hover {
    background-color: #f7fafc;
    color: rgb(100, 21, 255);
}

.start__blob--1 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20rem;
    width: 20rem;
    transform: translate(-5rem, 8rem);
    color: rgb(80 17 204);
    opacity: 0.5;
}

.start__blob--2 {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20rem;
    width: 20rem;
    transform: translate(5rem, -16rem);
    color: rgb(80 17 204);
    opacity: 0.5;
}

/* 

FOOTER 

*/

footer {
    background-color: rgb(100, 21, 255);
    padding: 96px 32px;
    position: relative;
}

.footer__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.links__title {
    font-weight: 700;
    color: #f7fafc;
    line-height: 2;
}

.link {
    margin-top: 16px;
    color: #f7fafc;
    cursor: no-drop;
    font-size: 14px;
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -32px;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--txt {
    color: #f7fafc;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.05rem;
}

.footer__logo--img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.footer__copyright {
    color: #cbd5e0;
    font-weight: 500;
}

.footer__socials {
    z-index: 2;
}

.footer__social--link {
    margin-left: 16px;
    padding: 8px 4.5px 8px 8px;
    background-color: #f7fafc;
    border-radius: 50%;
    transition: background 300ms ease;
    
}

.footer__social--link:nth-child(3) {
    padding: 8px;
}

.footer__social--link:hover {
    background-color: #b0b9c6;
}

.footer__blob--1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 320px;
    transform: translateX(-80px) translateY(-128px);
    z-index: 1;
    opacity: 0.5;
}

.footer__blob--2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 320px;
    transform: translateX(128px) translateY(192px);
    z-index: 1;
    opacity: 0.5;
}



